parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#4 \$default of method Symfony\\Component\\Console\\Command\\Command\:\:addArgument\(\) expects string\|null, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/MigrationToDatabaseCommand.php

		-
			message: '#^Parameter \#4 \$default of method Symfony\\Component\\Console\\Command\\Command\:\:addArgument\(\) expects string\|null, array given\.$#'
			identifier: argument.type
			count: 2
			path: src/Command/TransformToFormatCommand.php

		-
			message: '#^Offset string on array\{\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Helper/ArrayHelper.php
